<div class="selector-background">
  <div style="text-align: center">
    <div class="selector-card">
      <h1>Mis Cartas</h1>
      <hr />
      <div class="cards-section">
        <div class="cards-list" *ngIf="ownedCards.length > 0; else loadingCards">
          <div *ngFor="let card of ownedCards; index as i" class="card-container">
            <app-card
              [card]="card"
              [index]="ownedCards.length - i"
            ></app-card>
          </div>
        </div>
        <ng-template #loadingCards>
          <p *ngIf="loading">Cargando cartas de tu colección...</p>
          <p *ngIf="!loading && ownedCards.length === 0 && !error">No tienes cartas en posesión.</p>
          <div *ngIf="error" class="error">{{ error }}</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
