<div
  class="card-container"
  [class.card-unavailable]="!_card.available"
  [class.card-mythic]="_card.rarity === 'mythic' && _card.available"
  [class.card-legendary]="_card.rarity === 'legendary' && _card.available"
  [class.card-special]="_card.rarity === 'special' && _card.available"
  [class.card-uncommon]="_card.rarity === 'uncommon' && _card.available"
  [class.card-common]="_card.rarity === 'common' && _card.available"

  [class.card-elf]="_card.faction === 'elf' && _card.available"
  [class.card-dwarf]="_card.faction === 'dwarf' && _card.available"
  [class.card-necropolis]="_card.faction === 'necropolis' && _card.available"
  [class.card-undead]="_card.faction === 'undead' && _card.available"
  [class.card-angel]="_card.faction === 'angel' && _card.available"
  [class.card-demon]="_card.faction === 'demon' && _card.available"
  [class.card-beast]="_card.faction === 'beast' && _card.available"

  [style.z-index]="_index"

  (click)="_card.available ? addCardToDeck(_card) : null"
  *ngIf="_card"
  (mouseenter)="raiseIndex()"
  (mouseleave)="resetIndex()"

  [style.transform]="'scale(' + _scale + ')'"
>
  <div class="card-header">
    <span class="card-name">{{ _card.name }}</span>
    <span class="card-mana-cost">{{ _card.formattedManaCost }}</span>
  </div>
  <div class="card-image-frame" style="position: relative;">
    <img
      [src]="_card.image && _card.image.length > 0 ? _card.image : 'assets/img/default_art.png'"
      [alt]="_card.name"
      class="card-image"
    />
    <!-- ATRIBUTOS SOBRE LA IMAGEN, ABAJO -->
    <div *ngIf="_card.attributes && _card.attributes.length > 0" class="card-attributes-over-image">
      <span class="attribute-chip" *ngFor="let attr of _card.attributes" [title]="attr.description">
        {{ attr.name }}
      </span>
    </div>
  </div>
  <div class="card-type">{{ _card.baseType }} - {{ _card.faction | titlecase}}</div>

  <div class="card-text">
    <p>{{ _card.text }}</p>
  </div>

  <!-- HABILIDADES ACTIVADAS -->
  <div *ngIf="_card.activatedAbilities && _card.activatedAbilities.length > 0" class="card-activated-abilities">
    <!-- <div class="ability-title">Habilidades activadas:</div> -->
    <ng-template #cardComponentRef letCardComponent=CardComponent></ng-template>
<ul class="ability-list">
  <li *ngFor="let ability of _card.activatedAbilities">
    <span class="ability-name">{{ ability.name }}</span>
    <span class="ability-mana" *ngIf="ability.manaCost">{{ CardClass.formatManaCost(ability.manaCost) }}</span>
    <span class="ability-desc">: {{ ability.description }}</span>
  </li>
</ul>
  </div>

  <div
    *ngIf="_card.power !== undefined && _card.toughness !== undefined"
    class="card-stats"
  >
    {{ _card.power }} / {{ _card.toughness }}
  </div>
  <div *ngIf="_card.baseType === 'Planeswalker'" class="card-loyalty">
    Loyalty: {{ _card.initialLoyalty }}
  </div>
  <div *ngIf="_card.baseType === 'Land'" class="card-mana-production">
    Produces: {{ _card.providesMana }}
  </div>
</div>
