<div style="text-align:center">
  <h1>{{ title }}</h1>
  <p>Mensaje del Backend: {{ backendMessage }}</p>

  <h2>Cartas Disponibles:</h2>
  <ul *ngIf="cards.length > 0; else loadingCards">
    <li *ngFor="let card of cards">
      <strong>{{ card.name }}</strong> ({{ card.type }}) - Costo: {{ card.cost }}
      <p>{{ card.description}}</p>
    </li>
  </ul>
  <ng-template #loadingCards>
    <p>Cargando cartas...</p>
  </ng-template>

  <button (click)="startGame()">Iniciar Nuevo Juego</button>
</div>
